# Dependencies
**/node_modules
node_modules/

# Build output
**/dist
dist/
dist-ssr
build/

# Vite
.vite/

# IDE
.idea/
*.iml
.vscode/
!.vscode/extensions.json
*.sw?
*~
*.njsproj
*.ntvs*
*.sln
*.suo

# OS
**/.DS_Store
.DS_Store
Thumbs.db

# Logs
logs/
*.log
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
**/.env
.env
.env.local
.env.*
.env.*.local
*.local

# Testing & Temp
*.tmp
coverage

# Cache
.cache/
*.cache